body{
    background-color:#D4D4D4;
    margin: 0;
}

#canvas-intro{
    width:640px;
    height:1028px;
    display: block;
    position: absolute;
    left: 50%;
    z-index: 100;
}

/*Overlay for testing purposes only */

#overlay{
    width:640px;
    height:1028px;
    z-index: 110;
    display: none;
    position: absolute;
    left: 50%;
}

#canvas {
    position: relative; left: -50%;
}